*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#movie-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#container-title{
    text-align: center;
}
#movie-backdrop {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

#movie-details {
    text-align: center;
}

#movie-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

#movie-overview {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

#release-date, #rating {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #777;
}

#trailer-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#trailer-button:hover {
    background-color: #0056b3;
}

#trailer-container {
    margin-top: 20px;
}

#trailer-container iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
}
